* {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: rgb(211, 211, 211);
}

nav {
    background-color: ghostwhite;
    height: 4rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    font-weight: 300;
    transition: 0.2s ease-in-out;
}

.contenedor1 {
    min-height: 70vh;
    background-color: rgb(211, 211, 211);
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.contenedor2 {
    min-height: 70vh;
    width: 100%;
    background-color: rgb(150, 152, 154);
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.aviso1 {
    font-family: Bahnschrift SemiBold;
    font-size: 100px;
    text-decoration: none;
    color: black;
    width: 50%;
    margin-right: 10%;
    margin-top: 6%;
    float: right;
    text-align: inline
}

.aviso2 {
    font-family: Bahnschrift SemiBold;
    font-size: 100px;
    text-decoration: none;
    color: black;
    width: 50%;
    margin-top: 6%;
    float: left;
    text-align: inline;
}

.aviso3 {
    font-family: Bahnschrift SemiBold;
    font-size: 50px;
    text-decoration: none;
    color: black;
    width: 50%;
    margin-top: 6%;
    float: left;
    text-align: inline;
}

.logo {
    padding: 1vh 2vw;
    text-align: center;
    display: flex;
    align-items: center;
    color: black;
    text-transform: uppercase;
    width: 25rem;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 90vw;
    padding-right: 2vw;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 1.7vw;
    color: black;
    font-family: sans-serif;
}

.nav-links li a:hover {
    color: black;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    top: 25px;
    background-color: black;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .logo {
        padding: 1vh 5vw;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: grey;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        clip-path: circle(50px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        opacity: 0.8;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .open {
        overflow: hidden;
    }
    .nav-links li a {
        color: lightgray;
    }
    .nav-links li a:hover {
        color: ghostwhite;
    }
    .nav-links li a::before {
        background-color: ghostwhite;
    }
    .nav-links li {
        opacity: 1;
        margin: 2rem;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1;
    }
}


/*Animating Hamburger Icon on Click*/

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

article {
    margin: 0 auto;
    width: 90%;
    text-align: justify;
    font-family: sans-serif;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.contacto {
    width: 100%;
    height: 180;
    padding: 10;
    background-color: #252525
}

#headline {
    width: 850;
    margin: 0;
    padding-left: 100
}

.texto {
    display: block;
    position: absolute;
    width: 1050;
    height: 500;
    max-height: none;
    font-family: Bahnschrift SemiBold;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transform: translateY(50%);
    text-align: center;
    -webkit-transition: margin 0.8s;
    margin-top: 200;
}

#foto {
    width: 1050;
    background-color: black;
}

p: hover {
    position: absolute;
    margin-top: 50;
}

#aviso {
    font-family: Bahnschrift SemiBold;
    font-size: 100px;
    text-decoration: none;
    color: black;
    width: 50%;
    margin-right: 10%;
    margin-top: 6%;
    float: right;
    text-align: inline
}

#imagen {
    width: 300;
    height: 260;
    float: left;
    margin-left: 200;
    background-image: url(images/illustration.png);
}

#contacto {
    width: 100%;
    height: 180;
    padding: 10;
    background-color: #252525
}

#redes {
    background-color: #1b1b20;
    background: #323232
}

.face a {
    background: url(facebook.jpg);
    border-radius: 3px;
    width: 20px;
    height: 20px;
    padding: 0;
    float: right;
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    transform: translateY(-200%);
    margin-right: 100
}
